<html lang='id'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <script src='https://cdn.tailwindcss.com'></script>
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
        <title>Reset Password</title>
    </head>
    <body>
        {{!-- <h1>Reset Password</h1>
        <p>User ID: {{ticket_id}}</p>
        <form action="/users/reset-password" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <label>Password Baru:</label>
            <input type="password" name="password" required>
            <button type="submit">Reset</button>
        </form> --}}
        <section class='bg-gray-900 min-h-screen grid place-items-center'>
            <div
                class='flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0'
            >
                <div
                    class='w-full p-6 rounded-lg shadow border md:mt-0 sm:min-w-[448px] bg-gray-800 border-gray-700 sm:p-8'
                >
                    <h2
                        class='mb-4 text-xl font-bold leading-tight tracking-tight md:text-2xl text-white'
                    >
                        Change Password
                    </h2>
                    <div id='message' class='hidden'>
                        <div
                            class='p-4 text-sm rounded-lg bg-gray-700 text-gray-300'
                            role='alert'
                        >
                            <span class='font-medium'>Alert!</span>
                            <p class='inline' id='content'></p>
                        </div>
                    </div>
                    <div
                        class='mt-4 space-y-4 lg:mt-5 md:space-y-5'
                        method='post'
                    >
                        <input type='hidden' id='email' value='{{email}}' />
                        <input
                            type='hidden'
                            id='ticket_id'
                            value='{{ticket_id}}'
                        />
                        <div>
                            <label
                                for='password'
                                class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                            >New Password</label>
                            <input
                                type='password'
                                name='password'
                                id='password'
                                placeholder='••••••••'
                                class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                                required=''
                            />
                        </div>
                        <div>
                            <label
                                for='confirm-password'
                                class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                            >Confirm password</label>
                            <input
                                type='password'
                                name='confirm-password'
                                id='confirm-password'
                                placeholder='••••••••'
                                class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                                required=''
                            />
                        </div>
                        <button
                            id='submit-btn'
                            onclick='Submit()'
                            class='w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
                        >Reset passwod</button>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script>
        const messageBox = document.querySelector('#message'); const
        messageContent = document.querySelector('#content'); const submitBtn =
        document.querySelector('#submit-btn'); const Submit = () => { const
        password = document.querySelector('#password').value; const
        confirm_password = document.querySelector('#confirm-password').value;
        const ticket_id = document.querySelector('#ticket_id').value; const
        email = document.querySelector('#email').value; const showMessage =
        (msg) => { messageContent.innerHTML = msg;
        messageBox.classList.remove('hidden'); }; if(password !==
        confirm_password) return showMessage('Password harus sama'); if
        (!/.{8,}/.test(password)) return showMessage('Password harus minimal 8
        karakter'); if (!/[A-Z]/.test(password)) return showMessage('Harus ada
        minimal 1 huruf kapital'); if (!/\d/.test(password)) return
        showMessage('Harus ada minimal 1 angka'); if (!/[\W_]/.test(password))
        return showMessage('Harus ada minimal 1 simbol'); submitBtn.innerHTML =
        "Loading..."; submitBtn.disabled = true; return RequestChange(ticket_id,
        password, email); } const RequestChange = async (ticket_id, passwod,
        email) => { try { const response = await
        axios.post('/users/confirm-reset-password', { ticket_id, email,
        password: password.value }); const data = response.data;
        if(data.statusCode === 400 || data.statusCode === 500){
        messageBox.classList.remove('hidden');
        messageBox.classList.replace('bg-gray-700', 'bg-green-600');
        messageContent.innerHTML = data.message; return; }
        messageBox.classList.remove('hidden');
        messageBox.classList.replace('bg-gray-700', 'bg-green-600');
        messageContent.innerHTML = 'Password berhasil direset!'; } catch (err) {
        messageBox.classList.remove('hidden'); messageContent.innerHTML =
        err.message; console.log(err.message); } finally { submitBtn.innerHTML =
        "Reset Password"; submitBtn.disabled = false; } }

    </script>
</html>